<div class="container">  

  <div class="page-title">
    <span class="page-table-title">Employees List</span>
    <button class="add-employee-button" (click)="createEmployee()">
      ADD NEW EMPLOYEE
    </button>
  </div>

  <app-employee-search-control
    (searchEvent)="handleSearch($event)"
  ></app-employee-search-control>

  <div class="table-container">
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Email</th>
          <th>Department</th>
          <th>Manager</th>
          <th>Status</th>
          <th>Change Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let employee of employees">
          <td>{{ employee.id }}</td>
          <td>{{ employee.name }}</td>
          <td>{{ employee.email }}</td>
          <td>{{ employee.departmentId }}</td>
          <td>{{ employee.manager }}</td>
          <td>{{ employee.status ? 'Active' : 'Inactive' }}</td>
          <td class="action-col">
            <button class="edit-btn" (click)="editEmployee(employee.id)">Edit</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
