.container {
  border-radius: 10px;
  padding: 20px;
  transition: all 0.3s ease;
}

.page-title {
  margin: 30px 0 40px;
}

.page-table-title {
  font-size: 18px;
}

.table-container {
  padding: 20px 0;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
}

th {
  background-color: #E5EDF1;
  text-align: center;
  font-weight: 100;
  text-transform: uppercase;
  padding: 15px 15px;
}

button {
  padding: 5px 10px;
  background: #00ABE4;
  color: #fff;
  border: none;
  cursor: pointer;
}


.add-employee-button {
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;

}

.action-col {
  display: flex;
  justify-content: center;
}

.edit-btn {
  text-align: center;
  width: 60px;
  padding: 5px;
  background: white;
  color: black;
  border: 1px solid black;
  border-radius: 5px;
}

.edit-btn:hover {
  background-color: lightgray;
}


.italic-text {
  font-style: italic;
}

.page-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-container {
  display: flex;
    margin-bottom: 20px;
    margin-top: 30px;
    background-color: lightgrey;
    padding: 25px;
}