
.search-container {
    display: flex;
    padding: 25px 20px;
    background-color: #EFEFEF;
  }
  
  .search-input {
    padding: 8px 12px;
    font-size: 14px;
    width: 30%;
    /* Adjust width as needed */
    margin: 0 10px;
    margin-left: 0;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  button {
    border: none;
    border-radius: 3px;
    width: 75px;
    cursor: pointer;
    text-transform: uppercase;
  }