<div class="form-container">
  <h2>{{ isEditMode ? "Update Employee" : "Create New Employee" }}</h2>
  <form [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
    <div class="form-grid">
      <div class="form-group">
        <label for="id">ID</label>
        <input id="id" formControlName="id" type="text" />
      </div>

      <div class="form-group">
        <label for="name">Name</label>
        <input id="name" formControlName="name" type="text" />
        <div
          *ngIf="
            employeeForm.get('name')?.hasError('required') &&
            employeeForm.get('name')?.touched
          "
          class="error-message"
        >
          <small>This field is required</small>
        </div>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input id="email" formControlName="email" type="email" />
        <div
          *ngIf="
            employeeForm.get('email')?.hasError('email') &&
            (employeeForm.get('email')?.dirty ||
              employeeForm.get('email')?.touched)
          "
          class="error-message"
        >
          <small>Please enter a valid email address.</small>
        </div>
        <div
          *ngIf="
            employeeForm.get('email')?.hasError('required') &&
            employeeForm.get('email')?.touched
          "
          class="error-message"
        >
          <small>This field is required</small>
        </div>
      </div>

      <div class="form-group">
        <label for="departmentId">Department ID</label>
        <input id="departmentId" formControlName="departmentId" type="text" />
      </div>

      <div class="form-group">
        <label for="designation">Designation</label>
        <input id="designation" formControlName="designation" [readonly]="limitEditAccess" type="text" />
        <div
          *ngIf="
            employeeForm.get('designation')?.hasError('required') &&
            employeeForm.get('designation')?.touched
          "
          class="error-message"
        >
          <small>This field is required</small>
        </div>
      </div>

      <div class="form-group">
        <label for="manager">Manager</label>
        <input id="manager" formControlName="manager" [readonly]="limitEditAccess"  type="text" />
        <div
          *ngIf="
            employeeForm.get('manager')?.hasError('required') &&
            employeeForm.get('manager')?.touched
          "
          class="error-message"
        >
          <small>This field is required</small>
        </div>
      </div>

      <div class="form-group">
        <label for="yearOfJoining">Year of Joining</label>
        <input id="yearOfJoining" formControlName="yearOfJoining" [readonly]="limitEditAccess" type="text" />
        <div
          *ngIf="
            employeeForm.get('yearOfJoining')?.hasError('required') &&
            employeeForm.get('yearOfJoining')?.touched
          "
          class="error-message"
        >
          <small>This field is required</small>
        </div>
        <div
          *ngIf="
            employeeForm.get('yearOfJoining')?.hasError('pattern') &&
            (employeeForm.get('yearOfJoining')?.dirty ||
              employeeForm.get('yearOfJoining')?.touched)
          "
          class="error-message"
        >
          <small>Enter a valid year (4 digits)</small>
        </div>
      </div>

      <div class="form-group">
        <label for="skills">Skills</label>
        <textarea
          id="skills"
          formControlName="skills"
          rows="4"
          cols="50"
        ></textarea>
        <div
          *ngIf="
            employeeForm.get('skills')?.hasError('required') &&
            employeeForm.get('skills')?.touched
          "
          class="error-message"
        >
          <small>This field is required</small>
        </div>
      </div>

      <div class="form-group">
        <label for="address">Address</label>
        <textarea
          id="address"
          formControlName="address"
          rows="4"
          cols="50"
        ></textarea>

        <div
          *ngIf="
            employeeForm.get('address')?.hasError('required') &&
            employeeForm.get('address')?.touched
          "
          class="error-message"
        >
          <small>This field is required</small>
        </div>
      </div>

      <div class="form-group">
        <label for="phoneNumber">Phone Number</label>
        <input id="phoneNumber" formControlName="phoneNumber" type="number" />
        <div
          *ngIf="
            employeeForm.get('phoneNumber')?.hasError('required') &&
            employeeForm.get('phoneNumber')?.touched
          "
          class="error-message"
        >
          <small>This field is required</small>
        </div>
        <div
          *ngIf="
            employeeForm.get('phoneNumber')?.hasError('pattern') &&
            (employeeForm.get('phoneNumber')?.dirty ||
              employeeForm.get('phoneNumber')?.touched)
          "
          class="error-message"
        >
          <small>Enter a valid Phone Number</small>
        </div>
      </div>

      <div class="form-group" *ngIf="!isEditMode && !limitEditAccess">
        <label for="password">Password</label>
        <input id="password" formControlName="password" type="password" />
        <div
          *ngIf="
            employeeForm.get('password')?.hasError('required') &&
            employeeForm.get('password')?.touched
          "
          class="error-message"
        >
          <small>This field is required</small>
        </div>
        <div
          *ngIf="
            employeeForm.get('password')?.hasError('minlength') &&
            employeeForm.get('password')?.touched
          "
          class="error-message"
        >
          <small>Password must be at least 8 characters long</small>
        </div>
      </div>

      <div class="form-group" *ngIf="isEditMode && !limitEditAccess">
        <label for="status">Employee Status</label>
        <select
          id="status"
          formControlName="status"
          [disabled]="limitEditAccess" 
          class="form-control status"
        >
          <option value="" disabled>Select Status</option>
          <option *ngFor="let status of statusOptions" [value]="status.value">
            {{ status.label }}
          </option>
        </select>
        <div
          *ngIf="
            employeeForm.get('status')?.hasError('required') &&
            employeeForm.get('status')?.touched
          "
          class="error-message"
        >
          <small>Status is required.</small>
        </div>
      </div>
    </div>

    <div class="button-group">
      <button class="btn-save" type="submit">
        {{ isEditMode ? "Update Employee" : "Create Employee" }}
      </button>
      <button class="btn-back" (click)="back()" *ngIf="!limitEditAccess">Back</button>
    </div>
  </form>
</div>
